<h2>Simple Form</h2>
<p>FormGroup directly include FormControl</p>
<form [formGroup]="userFormGroup" (ngSubmit)="onFormSubmit()">
    <label>Name: <input formControlName="name"></label>
    <label>Age: <input formControlName="age"></label>
    <label class="radio"><input type="radio" value="M" formControlName="sex">Male</label>
    <label class="radio"><input type="radio" value="F"  formControlName="sex">Female</label>
    <label>
        Stage:
        <select formControlName="stage">
            <option *ngFor="let option of availableStages;" [value]="option.value">{{option.label}}</option>
        </select>
    </label>
    <label>
        Country:
        <select formControlName="country" (change)="onCountryChange()">
            <option value="MY">Malaysia</option>
            <option value="SG">Singapore</option>
        </select>
    </label>
    <button type="submit">Submit</button>
</form>