<table *ngIf="isShow">
    <tr>
        <th *ngFor="let column of columns">{{column.label}}</th>
    </tr>
    <tr *ngFor="let group of formArray.controls; let rowIndex = index;"
        [formGroup]="group"
    >
        <td *ngFor="let controlIndex of getRowControlsIndex(group);let colIndex = index;">
            <ng-container *ngIf="getColumnType(colIndex) == 'String'">
                <input
                    type="text"
                    [formControlName]="controlIndex"
                >
            </ng-container>
            <ng-container *ngIf="getColumnType(colIndex) == 'date'">
                <input
                    type="text"
                    [formControlName]="controlIndex"
                >
            </ng-container>
            <ng-container *ngIf="getColumnType(colIndex) == 'dropDown'">
                <select
                    [formControlName]="controlIndex"
                >
                    <option value=''>Default</option>
                    <option *ngFor="let opt of getDropdownOptions(colIndex);"
                        [value]="opt.internalCode"
                    >{{opt.label}}</option>
                </select>
            </ng-container>
        </td>
    </tr>
</table>
<button type="submit" (click)="onFormSubmit()"
    [disabled]="parametersForm.invalid"
    [class.invalid]="parametersForm.invalid"
>Submit</button>